<div class="mat-fab-toolbar">
    <div #elementref class="button-container" 
    (click)="toggle($event)">
        <div class="content-wrapper" #contentref>
          <div class="content"></div>
        </div>
        <a class="floating-button" [@showToolbar]="stateName" [style.backgroundColor]="color">
            <i *ngIf="expand" class="fa fa-plus" aria-hidden="true"></i>
        </a>
    </div>
</div>
