.mat-fab-toolbar {

    .button-container {
        width: 100%;
        height: 50px;
        transform: translate3d(0, 0, 0);
        transition: transform, opacity ease-out 200ms;
        transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
        transition-duration: 180ms;
        position: fixed;
        cursor: pointer;
        bottom: 30px;
        right: 30px;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .content {
        background: #333333;
        margin-right: 50px;
        line-height: 25px;
        color: white;
        text-transform: lowercase;
        padding: 2px 7px;
        border-radius: 3px;
        display: none;
        font-size: 12px;
        height: 25px;
        margin-top: 4px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    }

    .floating-button {
        right: 0;
        background: white;
        border-radius: 100%;
        width: 50px;
        height: 50px;
        min-width: 1;
        position: absolute;
        color: #fff;
        text-align: center;
        cursor: pointer;
        line-height: 50px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    }

    .toolbar {
        right: 0;
        background: white;
        border-radius: 100%;
        width: 450px;
        height: 50px;
        position: absolute;
        color: #fff;
        text-align: center;
        cursor: pointer;
        line-height: 50px;
        box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    }

    .floating-button.disabled {
        pointer-events: none;
    }

    .fab-bottom-right {
        position: fixed;
        bottom: 30px;
        right: 30px;
        z-index: 2;
    }

    .fab-bottom-left {
        position: fixed;
        bottom: 30px;
        left: 30px;
        z-index: 2;
    }

    .fab-top-right {
        position: fixed;
        top: 30px;
        right: 30px;
        z-index: 2;
    }

    .fab-top-left {
        position: fixed;
        top: 30px;
        left: 30px;
        z-index: 2;
    }
}